<app-base-page>

  <section>
    <h2>About Me</h2>
    <p>
      So, I'm really just some guy. I grew up in the Greater Cincinnati area (where I recently moved back to), I studied Physics & Applied Mathematics at Ohio University, and I currently work as a Software Engineer for The Home Depot.
    </p>
    <p>
      Outside of that, I mostly spend my time listening to music and podcasts, tinkering with tech stuff, and playing Old School Runescape. I also dabble in photography (astrophotography when I can), collecting vinyl, and even cycling on occasion.
    </p>
  </section>

  <section>
    <p>Also I have a cat named Ada! She is both the light of my life, as well as the bane of my existence.</p>
    <img src="do_it_for_her.png" alt="Ada: Do It For Her" class="ada-image">
  </section>


  <section>
    <h2>Other Notable Experiences</h2>
      <ul>
        <li> Undergraduate Research Assistant for <a href="https://moller.jlab.org/" target="_blank" rel="noopener noreferrer">The MOLLER Experiment at Jefferson Lab</a></li>
        <li> Director of University Relations for the Ohio University Student Senate</li>
        <li> Student Teaching Intern for a period of time (considered teaching as a career path at one point), working as an assistant teacher for Life Sciences in a Middle School</li>
        <li> In High School I was a founding participant in "Tech Squad", a student-led technology support group supplementing the school's IT staff</li>
        <li> I was a Boy Scout for many years (never hit Eagle Scout, but still learned a lot)</li>
      </ul>
  </section>

</app-base-page>
