<app-base-page>

  <section>
    <h2>About Me</h2>
    <p>
      So, I'm really just some guy. I grew up in the Greater Cincinnati area (where I recently moved back to), I studied Physics & Applied Mathematics at Ohio University, and I currently work as a Software Engineer for The Home Depot.
    </p>
    <p>
      Outside of that, I mostly spend my time listening to music and podcasts, tinkering with tech stuff, and playing Old School Runescape. I also dabble in photography (astrophotography when I can), collecting vinyl, and even cycling on occasion.
    </p>
  </section>

</app-base-page>
