<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" aria-label="Home"><mat-icon aria-hidden="true">exit_to_app</mat-icon></a></li>
    <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="/background" routerLinkActive="active-link">Background</a></li>
    <li><a routerLink="/interests" routerLinkActive="active-link">Interests</a></li>
    <li><a routerLink="/projects" routerLinkActive="active-link">Projects</a></li>
    <li><a routerLink="/blog" routerLinkActive="active-link">Blog</a></li>
  </ul>
</nav>
