<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" aria-label="Greeting"><mat-icon aria-hidden="true">exit_to_app</mat-icon></a></li>
    <li><a routerLink="/home" routerLinkActive="active-link"><span>Home</span></a></li>
    <li><a routerLink="/background" routerLinkActive="active-link"><span>Background</span></a></li>
    <li><a routerLink="/interests" routerLinkActive="active-link"><span>Interests</span></a></li>
    <li><a routerLink="/projects" routerLinkActive="active-link"><span>Projects</span></a></li>
    <li><a routerLink="/blog" routerLinkActive="active-link"><span>Blog</span></a></li>
  </ul>
</nav>
