@use '../../styles' as *;
@use '../../shared/shared-styles.scss' as shared;

:host {
  box-sizing: border-box;
}

nav {
  border: 2px solid #fff;
  //border-radius: 50%;
  display: flex;
  box-sizing: content-box;
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

  li {
    display: flex;
    align-items: center;
  }
  a {
    padding: 0.5rem 1rem;
  }
}
