
//@keyframes slideUpFadeOut {
//  0% {
//    opacity: 1;
//    transform: translateY(0);
//  }
//  100% {
//    opacity: 0;
//    transform: translateY(-120vh); // Moves element above the viewport
//  }
//}
//
//.slide-up-fade-out {
//  animation: slideUpFadeOut 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
//}

/* Custom transition */
@keyframes slide-up-out {
  to {
    opacity: 0;
    transform: translateY(-120vh);
  }
}
@keyframes slide-up-in {
  from {
    opacity: 0;
    transform: translateY(120vh);
  }
}

::view-transition-old(slide-up) {
  animation-duration: 600ms;
  animation-name: -ua-view-transition-fade-out, slide-up-out;
}

::view-transition-new(slide-up) {
  animation-duration: 600ms;
  animation-name: -ua-view-transition-fade-in, slide-up-in;
}
