
.landing-page {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url('../../public/landing_page_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

