@use '../../styles' as *;
@use '../../shared/shared-styles.scss' as shared;

.home-parent-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }
}

.left-sticky-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33dvw;
  //height: 100%;
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.right-scroll-container {
  display: flex;
  flex-direction: column;
  margin-left: 2dvw;
  overflow-y: scroll !important;

  @extend .scrollbar-styled; // inheriting custom scrollbar styles from base-page
}

.profile-picture {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: $background-sky-color;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: auto;
  width: 15dvw;

  @media (max-width: 1000px) {
    width: 33dvw;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: 5dvh;
}
