.landing-page-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100vw;
}

.title {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
  text-align: center;
}

.custom-arrow-button {
  background-color: transparent;
  color: #fff;
  border-radius: 33%; // Make it circular
  width: 10rem; // Set width
  height: 10rem; // Set height
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add shadow
  transition: transform 0.3s ease;

  &:hover {
    background-color: #0056b3; // Darker background on hover
    transform: scale(1.1); // Slightly enlarge on hover
  }

  &:active {
    transform: scale(0.95); // Shrink slightly on click
  }
}
