@use '../../styles' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
}

.landing-page-object-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  margin: 0dvh 20dvw;
  border: white 1px solid;
  border-radius: 5rem;
  backdrop-filter: blur(8px);

  @media (max-width: 600px) {
    margin: 0dvh 1rem;
    height: 90dvh;
    border-radius: 2rem;
  }

}

.landing-page-object-content-container {
  width: 98%;
  height: 80%;
  padding: 0rem 2dvw;
  box-sizing: border-box;


  overflow-y: scroll;
  /* Custom scrollbar styles */
  &::-webkit-scrollbar {
    width: 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    border: 2px solid rgba(0,0,0,0.1);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}

.profile-header-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.profile-picture {
  float: left;
  width: clamp(64px, 20dvw, 15dvh);
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin: 2rem;
  border: 2px solid #fff;
  background-color: $background-sky-color;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  @media (max-width: 600px) {
    width: 50dvw;
  }
}

h1 {
  text-align: center;
  font-size: clamp(2.5rem, 5dvw, 4rem);
  white-space: normal;
  overflow-wrap: break-word;

  @media (max-width: 600px) {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}


