<div class="landing-page-object-container">
  <div class="landing-page-object-content-container">

    <div style="display: flex; flex-direction: column;">
      <div style="display: flex; align-items: center;" class="profile-header-row">
        <img src="/profile_picture.png" alt="Profile Picture" class="profile-picture" />
        <h1>Morgan Van Valkenburgh</h1>
      </div>
      <p style="margin-top: 1rem;">
        Hey there! Welcome to my personal website. Here you can find information about my background, projects, and interests.
        Feel free to explore and connect with me.
      </p>
    </div>

    <div>
      <h2>Background</h2>
      <ul>
        <li>🎓 Studied Physics & Applied Mathematics @ Ohio University (as well as some Computer Science) </li>
        <li>💼 Currently Employed as a Software Engineer @ The Home Depot in Supply Chain Data & Analytics </li>
        <li>⌨️ Employed for Angular, SpringBoot, PostreSQL, and Google Cloud -- but my true love is Python 💖</li>
        <li>🎧 Hobbies include collecting vinyl, astrophotography, RaspberryPi tinkering, and Old School RuneScape </li>
      </ul>

      <h2>Projects</h2>
      <p>
        I've worked on various projects ranging from web development to data analysis. Check out my <a href="/projects">Projects</a> page for more details.
      </p>
    </div>

    <div>
      <h2>Contact</h2>
      <p>Feel free to reach out to me via email at: </p>
    </div>

  </div>
</div>
