<div fxLayout="column" fxLayoutAlign="center center" class="landing-page-container">
  <div class="landing-page-object-container">
    <div class="landing-page-object-content-container">

      <div style="display: flex; align-items: center;">
        <img src="/profile_picture.png" alt="Profile Picture" class="profile-picture" />
        <div fxLayout="column" fxLayoutAlign="center start" class="intro-text">
          <h1>Morgan Van Valkenburgh</h1>
          <p>
            Hey there! Welcome to my personal website. Here you can find information about my background, projects, and interests.
            Feel free to explore and connect with me.
          </p>
        </div>
      </div>

      <div>
        <h2>Background</h2>
        <ul>
          <li>🎓 Studied Physics & Applied Mathematics @ Ohio University (as well as some Computer Science) </li>
          <li>💼 Currently Employed as a Software Engineer @ The Home Depot in Supply Chain Data & Analytics </li>
          <li>⌨️ Employed for Angular, SpringBoot, PostreSQL, and Google Cloud -- but my true love is Python 💖</li>
          <li>🎧 Hobbies include collecting vinyl, astrophotography, RaspberryPi tinkering, and Old School RuneScape </li>
        </ul>

        <h2>Projects</h2>
        <p>
          I've worked on various projects ranging from web development to data analysis. Check out my <a href="/projects">Projects</a> page for more details.
        </p>
      </div>

      <div>
        <h2>Contact</h2>
        <p>Feel free to reach out to me via email at: </p>
      </div>

    </div>
  </div>
</div>
