<app-base-page>

  <div class="home-parent-container">

    <div class="left-sticky-container">

      <div class="profile-picture-wrapper">
        <img src="profile_picture.png" alt="Profile Picture" class="profile-picture" />
      </div>

      <h1>Morgan Van Valkenburgh</h1>

      <div class="social-media-container">

        @for (link of socialLinks; track link.label) {
          <a [attr.data-tooltip]="link.label"
             [style.--brand-color]="link.brandColor"
             [href]="link.href"
             [attr.aria-label]="link.label"
             [attr.target]="link.external ? '_blank' : null"
             [attr.rel]="link.external ? 'noopener noreferrer' : null">
            <svg role="img" [attr.viewBox]="link.viewBox" xmlns="http://www.w3.org/2000/svg">
              <title>{{ link.label }}</title>
              <path [attr.d]="link.svgPath" [attr.fill-rule]="link.fillRule || null"/>
            </svg>
          </a>
        }

      </div>

      <p class="profile-minor-text">Hey there! Welcome to my personal website. Feel free to explore and connect with me.</p>

    </div>

    <div class="right-scroll-container">

      <section>
        <h2>What's going on here?</h2>
        <p>
          This website originally started as a simple project to showcase my projects and experience in a professional context - a classic portfolio website.
          After some time, this began to feel uninspired, and limiting to me. I lost motivation and put the project down for a while.
        </p>
        <p>
          However, I have recently become reinspired by the IndieWeb, Web Revival movements, neocities, and the like. So I decided to re-approach this project with those inspirations in mind.
        </p>
        <p>
          This is still a work in progress, so be sure to check back in sometime and see what has changed!
          And if you are here for professional reasons, don't worry - all of that information is still here.
        </p>
      </section>

      <section>
        <h2>About Me</h2>
        <p>
          So, I'm really just some guy. I grew up in the Greater Cincinnati area (where I recently moved back to), I studied Physics & Applied Mathematics at Ohio University, and I currently work as a Software Engineer for The Home Depot.
        </p>
        <p>
          Outside of that, I mostly spend my time listening to music and podcasts, tinkering with tech stuff, and playing Old School Runescape. I also dabble in photography (astrophotography when I can), collecting vinyl, and even cycling on occasion.
        </p>
      </section>

      <section>
        <h2>Contact</h2>
        <p>Feel free to reach out via email at <a href="mailto:website@morganvanv.com">website&#64;morganvanv.com</a> or at any of the platforms linked on the left.</p>
      </section>

    </div>

  </div>

</app-base-page>

