@use '../../styles' as *;
@use '../../shared/shared-styles.scss' as shared;

:host {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

app-custom-navbar {
  width: 100%;
}

.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80dvw;
  height: 80dvh;
  border: 1px solid white;
  border-radius: 2rem;
  backdrop-filter: blur(8px);

  @media (max-width: 1000px) {
    width: 95dvw;
    margin-top: 5%;
    margin-bottom: 15%;
  }
}

.page-content {
  margin: 2dvh 1dvw;
  box-sizing: border-box;
  overflow-y: scroll;
  @include shared.scrollbar-styled;
}
